SPECKLE_TOKEN=
SPECKLE_SERVER_URL=https://app.speckle.systems
BACKEND_PORT=5174
FRONTEND_URL=http://localhost:5173
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
DATABASE_URL=postgresql://username:password@host:port/database

VITE_SPECKLE_TARGET_PROJECT_ID=
VITE_SPECKLE_VISUALIZATION_MODEL_ID=
VITE_SPECKLE_MANIFEST_MODEL_ID=